@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
.logo-site {
    width: 120px;
    height: auto;
}
.navbar {
    background-color: #ffffff00;
    padding: 10px 20px;
}
body {
    background-image: url('../images/background/3.webp');
    background-color: #f0f0f0;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
.services-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.6;
    color:#333
}
.services-list li {
    margin-bottom: 10px;
}
.img-fluid2 {
    border-radius: 20px;
    width: 400px;
    height: auto;
}
.nav-link {
    font-size: 18px;
    color: #333;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.nav-link.active {
    background-color: #e0e9eb86;
    border-radius: 10px;
}
.navbar-nav .nav-item {
    margin-right: 15px;
}
.bi-search {
    font-size: 20px;
    color: #333; 
    cursor: pointer;
}
.bi-search:hover {
    color: #245360;
}
/* Footer*/
.footer {
    background-color: #fff;
    padding: 30px 0; 
    color: #333; 
}
.footer .container {
    max-width: 1200px;
    margin: 0 auto;
}
.row {
    display: flex; 
    justify-content: space-between;
}
.footer-col {
    flex: 1;
    margin: 0 15px;
}
.footer-col h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    color: #245360;
}
.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-links li {
    margin-bottom: 10px;
}
.footer-links a {
    color: #333;
    text-decoration: none;
    font-size: 1rem;
}
.footer-links a:hover {
    text-decoration: underline;
    color: #245360;
}
.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9rem;
    color: #333;
}
.footer-separator {
    border: none;
    border-top: 2px solid #245360;
    margin: 0;
}
/* Section avec bord arrondi et couleur personnalisée */
section {
    position: relative;
    padding: 20px 0;
    margin-top: -25px;
}
.bulles {
    background-color: #245360;
    border-radius: 35px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 30px;
    overflow: hidden;
    background-color: transparent;
}
.text-container {
    background-color: #245360;
    border-radius: 30px;
    padding: 30px; 
    color: #fff;
    position: relative;
}
.text-container h1 {
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
.text-container p {
    font-size: 1.2rem;
}
.logos {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.logo-img {
    width: 100px;
    height: auto;
    margin: 0 10px;
}
.scroll-down {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.scroll-down i {
    font-size: 40px;
    color: #292626;
    animation: bounce 2s infinite;
}
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    font-size: 2.7rem;
    display: none;
    z-index: 1000;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.scroll-to-top i:hover {
    color: #f9a825;
    transform: translateY(-5px);
}
.scroll-to-top.show {
    display: block;
}
.scroll-to-top i {
    font-size: 2.7rem;
    color: #67909b;
}
.decoration-graphic {
    position: absolute;
    top: 0%;
    right: -1%;
    width: 80px;
    height: auto;
    z-index: 1;
    animation: fadeIn 1.5s ease-in-out;
}
.decoration-graphic-article {
    position: absolute;
    top: -40%;
    right: -5%;
    width: 80px;
    height: auto;
    z-index: 1;
    animation: fadeIn 1.5s ease-in-out;
}
/* Conteneur des cartes */
.blog-cards-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
}
.blog-card {
    width: 100%;
    max-width: 320px;
    height: 420px;
    background-color: #E0E9EB;
    color: #333;
    border: 3px solid #245360;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    position: relative;
}
.blog-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}
.blog-card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 3px solid #245360;
}
.blog-card-content {
    padding: 20px;
    flex: 1;
}
.blog-card-content h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #245360;
}
.blog-card-content p {
    font-size: 0.9rem;
    line-height: 1.5;
    color: #333;
}
.blog-card-content .excerpt {
    margin-bottom: 15px;
    opacity: 0.8;
}
.read-more-container {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;

}
.read-more {
    padding: 10px 20px;
    background-color: #245360;
    color: #fff;
    border-radius: 30px;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
    text-align: center;
    font-family: 'Playfair Display', serif;
}
.read-more:hover {
    background-color: #163841;
    cursor: pointer;
}
.search-bar-container {
    position: relative;
    max-width: 500px;
    margin: 20px auto;
}
.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #b0b0b0;
    font-size: 1.2rem;
    pointer-events: none; 
}
#search-input {
    padding-left: 35px;
}
.back-button {
    display: flex;
    align-items: center;
    color: #245360;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.back-button i {
    font-size: 1.5rem;
    margin-right: 5px;
}
.text-link {
    color: #F8B133;
    text-decoration: underline;
    cursor: pointer;
}
.text-link:hover {
    color: #5ABBC4;
}
/* Styles pour la page article.html */
.article{
    padding-left:3rem !important;
    padding-right:3rem !important;
    padding-top:1.8rem !important;
}
.blog-article h1 {
    font-size: 2.5rem;
    color:white ;
    background-color: #245360;
    font-family: 'Playfair Display', serif;
    text-align: left;
}
.bulles-article {
    background-color: #245360;
    border-radius: 35px;
    padding: 10px 20px;
    width: 100%;
    position: relative;
    overflow: visible;
    margin-top: 30px;
}
.text-container-article {
    padding: 5px 20px;
    text-align: left;
}
.blog-article p em {
    color: #333;
    font-size: 1.2rem;
    display: block;
    margin-bottom: 20px;
}
.blog-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    border: 2px solid #245360;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.introduction {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #333;
    margin-bottom: 30px;
    text-align:justify;
}
.blog-article h2 {
    font-size: 2rem;
    color: #245360;
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: 'Playfair Display', serif;
}
.source {
    font-size: 15px !important;
    margin-bottom: 40px !important;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: rgb(170, 166, 166) !important;
    text-align: right !important;
  }
.circle-dot {
    width: 20px;
    height: 20px;
    background-color: #245360;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
    margin-right:10px;
}
.blog-article h3 {
    font-size: 1.5rem;
    color: #5ABBC4;
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: 'Playfair Display', serif;
}
.diamond-dot {
    width: 15px;
    height: 15px;
    background-color: #5ABBC4;
    border-radius: 10%;
    display: inline-block;
    margin: 2px;
    margin-right: 10px;
    transform: rotate(45deg);
}
.blog-article p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
    text-align:justify;
}
.blog-image + img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 15px;
    margin: 20px 0;
    border: 2px solid #5ABBC4;
}
.back-button {
    margin-top: 20px;
    color: #245360;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}
.back-button i {
    margin-right: 10px;
    font-size: 1.5rem;
}
.btn-custom {
    background-color: white;
    color: #245360;
    border-radius: 30px;
    padding: 10px 40px;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
    border: 2px solid #245360;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
    margin: 0 auto;
}
.btn-custom:hover {
    background-color: #245360;
    color: white;
}
/*Pagination*/
.pagination {
    margin-top: 10px;
    margin-bottom: 30px;
}
.page-item.active .page-link {
    background-color: #245360;
    border-color: #245360;
    color: white;
}
.page-link {
    color: #245360;
    border-radius: 10%;
    padding: 0.5rem 0.75rem;
    margin: 0 5px;
}
.page-link:hover {
    background-color: #eeeeee;
    color: #245360;
    text-decoration: none;
}
.pagination-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.lead{
    text-align: justify;
}
@media (max-width: 1024px) {
     p, h1, h2, h3, h4, h5, h6, .text-container, .bulle-text, .services-list, .lead, .decouverte-text {
        text-align: left ;
    }
    .services-list li{
        font-size: 1rem;
    }
    .responsive_img{
        width: 100% !important;
    }
    .blog-article {
        padding: 15px;
    }
    .blog-article h1 {
        font-size: 2rem;
    }
    .blog-article h2 {
        font-size: 1.8rem;
    }
    .blog-article h3 {
        font-size: 1.4rem;
    }
    .blog-article p {
        margin: 10px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
    }
    .btn-custom {
        font-size: 0.9rem;
        padding: 8px 30px;
    }
    .introduction {
        font-size: 1rem;
    }
    .article{
        padding-left:1.8rem !important;
        padding-right:1.8rem !important;
        padding-top:0.8rem !important;
    }
    .decoration-graphic-article {
        top: -20%;
        right: -15%;
    }
    .blog-article h1 {
        font-size: 2rem;
    }
    .navbar-brand img {
        width: 90px;
    }
    .nav-link {
        font-size: 16px;
        padding: 5px 15px;
    }
    .text-container h1 {
        font-size: 2rem;
    }
    .text-container p {
        font-size: 1rem;
    }
    .col-lg-6, .custom-image, .img-fluid2 {
        max-width: 100%;
        padding: 15px;
    }
    .services .section-title {
        font-size: 1.31rem;
        margin-bottom: 10px;
        margin-left:none;
        text-align: left;
    }
    .services {
        font-size: 0.9rem;
        padding-left: 0px;
    }
    .services .col-lg-6 {
        padding: 10px; 
    }
    .services .col-lg-6:nth-child(2) {
        width: 100%;
        text-align: justify;
    }
    .container {
        padding: 5px; 
        background-color: transparent;
    }
    .img-fluid2 {
        margin-top: -10px;
        border-radius: 40px !important;
        display: block;
        margin: 0 auto;
    }
    body {
        background-color: #ffffff !important;
        background-image: none !important;
    }
    .footer-col {
        margin-bottom: 20px;
    }
    .footer-col h3 {
        font-size: 1.2rem;
    }
    .footer .footer-col:nth-child(3) {
        order: 3;
        text-align: center;
        margin-top: 20px;
    }
    .footer-bottom {
        text-align: left;
        width: 100%;
    }
    .text-container{
        padding : 20px !important;
    }
    .text-container h1,
    .text-container2 h1,
    .section-title {
        text-align: left !important;
    }
    .blog-card{
        height : 450px !important;
    }
}