@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

/* Style pour le logo */
.logo-site {
    width: 120px;
    height: auto;
}

/* Style pour le menu */
.navbar {
    background-color: #ffffff00;
    padding: 10px 20px;
}

/* Appliquer un background à tout le site */
body {
    background-image: url('../images/background/3.webp');
    background-color: #f0f0f0;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
.services-list {
    list-style: none; /* Enlever les puces par défaut */
    padding: 0;
    margin: 0;
    font-size: 1.2rem; /* Taille du texte de la liste */
    line-height: 1.6; /* Hauteur de ligne pour lisibilité */
    color:#333
}

.services-list li {
    margin-bottom: 10px; /* Espacement entre les éléments de la liste */
}

.img-fluid2 {
    border-radius: 20px;
    width: 400px;
    height: auto;
}

/* Style pour les liens du menu */
.nav-link {
    font-size: 18px;
    color: #333;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-link.active {
    background-color: #e0e9eb86;
    border-radius: 10px;
}

/* Espacement supplémentaire entre les éléments du menu */
.navbar-nav .nav-item {
    margin-right: 15px;
}

/* Style pour la loupe */
.bi-search {
    font-size: 20px;
    color: #333; 
    cursor: pointer;
}

.bi-search:hover {
    color: #245360;
}

/*************************************************************************************/
/* Footer*/
/* Style pour le footer */

.footer {
    background-color: #fff;
    padding: 30px 0; 
    color: #333; 
}

.footer .container {
    max-width: 1200px; /* Largeur maximale du conteneur */
    margin: 0 auto; /* Centrage horizontal */
}

.row {
    display: flex; /* Disposer les colonnes en ligne */
    justify-content: space-between; /* Espacement entre les colonnes */
}

.footer-col {
    flex: 1; /* Chaque colonne occupe une part égale de la largeur */
    margin: 0 15px; /* Espacement horizontal entre les colonnes */
}

.footer-col h3 {
    font-size: 1.5rem; /* Taille du titre des colonnes */
    margin-bottom: 20px; /* Espacement sous le titre */
    font-family: 'Playfair Display', serif; /* Police du titre */
    color: #245360; /* Couleur du titre */
}

.footer-links {
    list-style: none; /* Supprimer les puces */
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 10px; /* Espacement entre les éléments de la liste */
}

.footer-links a {
    color: #333; /* Couleur des liens */
    text-decoration: none; /* Supprimer la sous-ligne */
    font-size: 1rem; /* Taille du texte des liens */
}

.footer-links a:hover {
    text-decoration: underline; /* Souligner les liens au survol */
    color: #245360; /* Couleur au survol */
}

.footer-bottom {
    text-align: center; /* Centrer le texte de bas de page */
    margin-top: 30px; /* Espacement au-dessus du texte */
    font-size: 0.9rem; /* Taille du texte */
    color: #333; /* Couleur du texte */
}

.footer-separator {
    border: none; /* Supprimer la bordure par défaut */
    border-top: 2px solid #245360; /* Ajouter une bordure en haut de 2px de couleur personnalisée */
    margin: 0; /* Supprimer le margin par défaut */
}

/************************************************************************************************/
/* Section avec bord arrondi et couleur personnalisée */

section {
    position: relative; /* Pour positionner la flèche */
    padding: 20px 0; /* Espacement interne */
    margin-top: -25px; /* Espacement avec le menu */
}

.bulles {
    background-color: #245360;
    border-radius: 35px;
}

/* Conteneur du contenu centré avec largeur limitée */
.container {
    max-width: 1200px; /* Largeur maximale du conteneur */
    margin: 0 auto; /* Centrage horizontal */
    border-radius: 30px; /* Bords arrondis pour le conteneur */
    overflow: hidden; /* Pour que les coins arrondis affectent les éléments internes */
    background-color: transparent;
}

/* Fond du texte pour correspondre à la couleur du bloc */
.text-container {
    background-color: #245360; /* Couleur de fond du texte */
    border-radius: 30px; /* Bords arrondis pour le texte */
    padding: 30px; /* Espacement interne */
    color: #fff; /* Couleur du texte */
    position: relative; /* Pour positionner les logos */
}

/* Style pour le texte et le titre */
.text-container h1 {
    font-size: 2.5rem; /* Taille réduite du titre */
    font-family: 'Playfair Display', serif; /* Nouvelle police élégante */
    font-weight: 700; /* Gras pour le titre */
}

.text-container p {
    font-size: 1.2rem; /* Texte de description */
}

/* Style pour les logos */
.logos {
    display: flex;
    justify-content: center; /* Centrage des logos */
    margin-top: 20px;
}

.logo-img {
    width: 100px; /* Taille des logos */
    height: auto;
    margin: 0 10px; /* Espacement entre les logos */
}

/* Double flèche pour descendre */
.scroll-down {
    position: absolute; /* Positionnement absolu pour centrer */
    bottom: 0px; /* Distance du bas du bloc */
    left: 50%; /* Positionner au centre horizontalement */
    transform: translateX(-50%); /* Ajuster le centrage */
}

.scroll-down i {
    font-size: 40px; /* Taille de la flèche */
    color: #292626; /* Couleur de la flèche */
    animation: bounce 2s infinite; /* Animation de rebond */
}

/* Style pour le bouton de retour en haut de la page */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    font-size: 2.7rem; /* Taille de l'icône */
    display: none; /* Caché par défaut */
    z-index: 1000; /* Au-dessus du contenu */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.scroll-to-top i:hover {
    color: #f9a825; /* Couleur au survol */
    transform: translateY(-5px); /* Animation légère de déplacement */
}

.scroll-to-top.show {
    display: block; /* Affiche la flèche lorsque la classe 'show' est ajoutée */
}

.scroll-to-top i {
    font-size: 2.7rem; /* Taille de l'icône */
    color: #67909b; /* Couleur de l'icône */
}

.decoration-graphic {
    position: absolute;
    top: 0%; /* Utilisez % pour un positionnement relatif */
    right: -1%; /* Utilisez % pour un positionnement adaptable */
    width: 80px;
    height: auto;
    z-index: 1;
    animation: fadeIn 1.5s ease-in-out;
}

.decoration-graphic-article {
    position: absolute;
    top: -40%; /* Utilisez % pour un positionnement relatif */
    right: -5%; /* Utilisez % pour un positionnement adaptable */
    width: 80px;
    height: auto;
    z-index: 1;
    animation: fadeIn 1.5s ease-in-out;
}

/*****************************************************************************************************/

/* Conteneur des cartes */
.blog-cards-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

/* Style des cartes */
.blog-card {
    width: 100%;
    max-width: 320px;
    height: 420px;
    background-color: #E0E9EB; /* Fond de la carte */
    color: #333; /* Texte en noir */
    border: 3px solid #245360; /* Bordure bleue */
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1); /* Ombre légère */
    margin-bottom: 30px;
    position: relative;
}

/* Effet au survol */
.blog-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

/* Image de la carte */
.blog-card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 3px solid #245360; /* Bordure bleue */
}

/* Contenu de la carte */
.blog-card-content {
    padding: 20px;
    flex: 1;
}

.blog-card-content h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #245360; /* Titre en bleu */
}

.blog-card-content p {
    font-size: 0.9rem;
    line-height: 1.5;
    color: #333; /* Texte en noir */
}

.blog-card-content .excerpt {
    margin-bottom: 15px;
    opacity: 0.8;
}

/* Conteneur du bouton En savoir plus */
.read-more-container {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;

}


/* Style du bouton En savoir plus */
.read-more {
    padding: 10px 20px;
    background-color: #245360;
    color: #fff;
    border-radius: 30px;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
    text-align: center;
    font-family: 'Playfair Display', serif; /* Police du titre */
}

.read-more:hover {
    background-color: #163841;
    cursor: pointer;
}


/* Style pour le conteneur de la barre de recherche */
.search-bar-container {
    position: relative;
    max-width: 500px;
    margin: 20px auto;
}

/* Style pour l'icône de loupe */
.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #b0b0b0; /* Gris clair */
    font-size: 1.2rem;
    pointer-events: none; /* Ne pas interférer avec la saisie */
}

/* Style pour la barre de recherche */
#search-input {
    padding-left: 35px; /* Ajouter un espace pour l'icône */
}


.back-button {
    display: flex;
    align-items: center;
    color: #245360;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.back-button i {
    font-size: 1.5rem;
    margin-right: 5px;
}

.text-link {
    color: #F8B133; /* Couleur du lien */
    text-decoration: underline; /* Soulignement pour indiquer un lien */
    cursor: pointer; /* Curseur en forme de main au survol */
}

.text-link:hover {
    color: #5ABBC4; /* Couleur différente au survol */
}



/*********************************************************************************************************/
/* Styles pour la page article.html */


/* Titre de l'article */

.article{
    padding-left:3rem !important;
    padding-right:3rem !important;
    padding-top:1.8rem !important;
}
.blog-article h1 {
    font-size: 2.5rem;
    color:white ;
    background-color: #245360;
    font-family: 'Playfair Display', serif;
    text-align: left;
}

.bulles-article {
    background-color: #245360;
    border-radius: 35px;
    padding: 10px 20px;
    width: 100%;
    position: relative;
    overflow: visible; /* Permet de ne pas cacher la décoration */
    margin-top: 30px;
}

.text-container-article {
    padding: 5px 20px; /* Réduction du padding vertical */
    text-align: left;
}

/* Auteur et date */
.blog-article p em {
    color: #333;
    font-size: 1.2rem;
    display: block;
    margin-bottom: 20px;
}

/* Image principale */
.blog-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    border: 2px solid #245360;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

/* Introduction */
.introduction {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #333;
    margin-bottom: 30px;
    text-align:justify;
}

/* Titres H2 */
.blog-article h2 {
    font-size: 2rem;
    color: #245360;
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: 'Playfair Display', serif;
}

.source {
    font-size: 15px !important;
    margin-bottom: 40px !important;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: rgb(170, 166, 166) !important;
    text-align: right !important;
  }
  


.circle-dot {
    width: 20px;
    height: 20px;
    background-color: #245360;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
    margin-right:10px;
}

/* Titres H3 */
.blog-article h3 {
    font-size: 1.5rem;
    color: #5ABBC4;
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: 'Playfair Display', serif;
}

.diamond-dot {
    width: 15px;
    height: 15px;
    background-color: #5ABBC4;
    border-radius: 10%;
    display: inline-block;
    margin: 2px;
    margin-right: 10px;
    transform: rotate(45deg);
}

/* Paragraphes */
.blog-article p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
    text-align:justify;
}

/* Images supplémentaires */
.blog-image + img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 15px;
    margin: 20px 0;
    border: 2px solid #5ABBC4;
}

/* Bouton de retour */
.back-button {
    margin-top: 20px;
    color: #245360;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.back-button i {
    margin-right: 10px;
    font-size: 1.5rem;
}

.btn-custom {
    background-color: white;
    color: #245360;
    border-radius: 30px;
    padding: 10px 40px;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
    border: 2px solid #245360;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block; /* Change le display pour permettre le centrage */
    margin: 0 auto; /* Centrer le bouton */
}


.btn-custom:hover {
    background-color: #245360; /* Couleur de fond au survol */
    color: white; /* Couleur du texte au survol */
}


/***********************************************************************************************/
/*Pagination*/

.pagination {
    margin-top: 10px;
    margin-bottom: 30px;
}

.page-item.active .page-link {
    background-color: #245360;
    border-color: #245360;
    color: white;
}

.page-link {
    color: #245360;
    border-radius: 10%;
    padding: 0.5rem 0.75rem;
    margin: 0 5px;
}

.page-link:hover {
    background-color: #eeeeee;
    color: #245360;
    text-decoration: none;
}

.pagination-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.lead{
    text-align: justify;
}


@media (max-width: 1024px) {

     p, h1, h2, h3, h4, h5, h6, .text-container, .bulle-text, .services-list, .lead, .decouverte-text {
        text-align: left ;
    }
    .responsive_img{
        width: 100% !important;
    }
    .blog-article {
        padding: 15px;
    }

    .blog-article h1 {
        font-size: 2rem;
    }

    .blog-article h2 {
        font-size: 1.8rem;
    }

    .blog-article h3 {
        font-size: 1.4rem;
    }

    .blog-article p {
        margin: 10px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal; /* Permettre le retour à la ligne */
    }

    .btn-custom {
        font-size: 0.9rem; /* Taille de texte plus petite */
        padding: 8px 30px; /* Réduction du padding pour éviter le débordement */
       
    }

    .introduction {
        font-size: 1rem;
    }

    .article{
        padding-left:1.8rem !important;
        padding-right:1.8rem !important;
        padding-top:0.8rem !important;
    }
    .decoration-graphic-article {
        top: -20%; /* Utilisez % pour un positionnement relatif */
        right: -15%; /* Utilisez % pour un positionnement adaptable */
    }

    .blog-article h1 {
        font-size: 2rem;
    }

    /* Ajustements de la barre de navigation */
    .navbar-brand img {
        width: 90px;
    }
    .nav-link {
        font-size: 16px;
        padding: 5px 15px;
    }

    /* Rectangle bleu et image */
    .text-container h1 {
        font-size: 2rem;
    }
    .text-container p {
        font-size: 1rem;
    }
    .col-lg-6, .custom-image, .img-fluid2 {
        max-width: 100%;
        padding: 15px;
    }

    .services .section-title {
        font-size: 1.31rem; /* Reduce the title size */
        margin-bottom: 10px;
        margin-left:none;
        text-align: left;
    }
    
    .services .services-list {
        font-size: 0.9rem; /* Adjust the font size for better readability */
        padding-left: 0px; /* Bring text closer to the left edge */
    }

    .services .col-lg-6 {
        padding: 10px; /* Adjust padding for smaller screens */
    }
    
    .services .col-lg-6:nth-child(2) {
        width: 100%; /* Expand the text container */
        text-align: justify; /* Align text to make it cleaner */
    }

    .container {
        padding: 5px; /* Minimal padding for smaller screens */
        background-color: transparent;
    }

    .img-fluid2 {
        margin-top: -10px;
        border-radius: 40px !important;
        display: block;
        margin: 0 auto; /* Centre l'image */
    }
    body {
        background-color: #ffffff !important;
        background-image: none !important; /* Supprime toute image de fond */
    }

    /* Footer */
    .footer-col {
        margin-bottom: 20px;
    }
    .footer-col h3 {
        font-size: 1.2rem;
    }

    /* 6. Centrer la troisième colonne du footer */
    .footer .footer-col:nth-child(3) {
        order: 3;
        text-align: center;
        margin-top: 20px;
    }

    .footer-bottom {
        text-align: left;
        width: 100%;
    }

    .text-container{
        padding : 20px !important;
    }

    .text-container h1,
    .text-container2 h1,
    .section-title {
        text-align: left !important;
    }

    .blog-card{
        height : 450px !important;
    }
}
